<%- include("partials/nav", {user: user}) %>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h1 class="text-center mb-3">Students</h1>
    </div>
</div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
    </tr>
    </thead>
    <tbody>
    <% for(let i=0; i<student.length; i++){ %>
    <tr>
        <td><%= student[i].s_id%></td>
        <td><a href="/student/show/<%= student[i].s_id%>"><%= student[i].s_name%></a></td>
        <td><%= student[i].s_age %></td>
        <td><%= student[i].s_gender%></td>
        <td><%= student[i].s_email %></td>
        <td><%= student[i].s_department%></td>
    </tr>
        <%}%>
    </tbody>
</table>
<%- include("partials/footer") %>